*{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  .container{
    display:flex;
  }
  main{
    width: 100%;
    padding: 20px;
  }
  .sidebar{
    background: rgb(129, 157,158);
    color: rgb(255, 255, 255, 0.438);
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    padding-left: 10px;
  }
  .top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
  }
  .logo{
    font-size: 30px;
    padding-left: 20px;
  }
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  .link{
    display: flex;
    color: rgb(255, 255, 255, 0.438);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  .link:hover{
    background:rgb(167, 88, 97);
    color: #000;
    transition: all 0.5s;
  }
  /* .active{
    background: lightskyblue;
    color: #000;
  } */
  .icon, .link_text{
    font-size: 20px;
  }
  