.error-message {
  color: red;
  font-size: 12px;
  margin-top: 0px;
}

form {
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  padding-top: 12%;
  padding-left: 75px;
  margin-right: 150px;
  border: 2px red;
  padding-bottom: 16.2rem;
  color: whitesmoke;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-right: 2rem;
  position: relative;
  top: 0;
}

input {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 30px;
  width: 35%;
}

button {
  border-width: 200px;
  margin-top: 15px;
  padding: 10px;
  border: 0.5px #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 0.8em;
  width: 20%;
  /*   margin-left: 10px;
 */
  height: 25px;
  color: white;
  background-color: rgb(167, 88, 97);
}

.left-container {
  padding-top: 0px;

}